footer.footer
  .footer-top.section
    .container
      .footer-brand
        a.logo(href='#')
          img(src='/images/logo.svg' width='160' height='50' alt='Footcap logo')
        ul.social-list
          li
            a.social-link(href='#')
              ion-icon(name='logo-facebook')
          li
            a.social-link(href='#')
              ion-icon(name='logo-twitter')
          li
            a.social-link(href='#')
              ion-icon(name='logo-pinterest')
          li
            a.social-link(href='#')
              ion-icon(name='logo-linkedin')
      .footer-link-box
        ul.footer-list
          li
            p.footer-list-title Contact Us
          li
            address.footer-link
              ion-icon(name='location')
              span.footer-link-text
                | 2751 S Parker Rd, Aurora, CO 80014, United States
          li
            a.footer-link(href='tel:+557343673257')
              ion-icon(name='call')
              span.footer-link-text +557343673257
          li
            a.footer-link(href='mailto:footcap@help.com')
              ion-icon(name='mail')
              span.footer-link-text footcap@help.com
        ul.footer-list
          li
            p.footer-list-title My Account
          li
            a.footer-link(href='#')
              ion-icon(name='chevron-forward-outline')
              span.footer-link-text My Account
          li
            a.footer-link(href='#')
              ion-icon(name='chevron-forward-outline')
              span.footer-link-text View Cart
          li
            a.footer-link(href='#')
              ion-icon(name='chevron-forward-outline')
              span.footer-link-text Wishlist
          li
            a.footer-link(href='#')
              ion-icon(name='chevron-forward-outline')
              span.footer-link-text Compare
          li
            a.footer-link(href='#')
              ion-icon(name='chevron-forward-outline')
              span.footer-link-text New Products
        .footer-list
          p.footer-list-title Opening Time
          table.footer-table
            tbody
              tr.table-row
                th.table-head(scope='row') Mon - Tue:
                td.table-data 8AM - 10PM
              tr.table-row
                th.table-head(scope='row') Wed:
                td.table-data 8AM - 7PM
              tr.table-row
                th.table-head(scope='row') Fri:
                td.table-data 7AM - 12PM
              tr.table-row
                th.table-head(scope='row') Sat:
                td.table-data 9AM - 8PM
              tr.table-row
                th.table-head(scope='row') Sun:
                td.table-data Closed
        .footer-list
          p.footer-list-title Newsletter
          p.newsletter-text
            | Authoritatively morph 24/7 potentialities with error-free
            | partnerships.
          form.newsletter-form(action='')
            input.newsletter-input(type='email' name='email' required='' placeholder='Email Address')
            button.btn.btn-primary(type='submit') Subscribe
  .footer-bottom
    .container
      p.copyright
        | © 2022 
        a.copyright-link(href='#') codewithsadee
        | .
        |             All Rights Reserved
