footer.footer
  .footer-top.section
  .footer-bottom
    .container
      p.copyright
        | © 2024 
        a.copyright-link(href='https://github.com/codewithsadee/footcap') codewithsadee - Front
        |  & 
        a.copyright-link(href='https://github.com/Ali-Vazife/onlineshop') AliVazife - Front & Back