footer.footer
  .footer-top.section
  .footer-bottom
    .container
      p.copyright
        | © 2024 
        a.copyright-link(href='#') codewithsadee & AliVazife
        | .
        |             All Rights Reserved
