header.header(data-header='')
  .container
    .overlay(data-overlay='')
    a.logo(href='/')
      img(src='/images/logo.svg' width='160' height='50' alt='Footcap logo')
    button.nav-open-btn(data-nav-open-btn='' aria-label='Open Menu')
      ion-icon(name='menu-outline')
    nav.navbar(data-navbar='')
      button.nav-close-btn(data-nav-close-btn='' aria-label='Close Menu')
        ion-icon(name='close-outline')
      a.logo(href='#')
        img(src='/images/logo.svg' width='190' height='50' alt='Footcap logo')
      ul.navbar-list
        li.navbar-item
          a.navbar-link(href='/') Home
        li.navbar-item
          a.navbar-link(href='/products') Products
        li.navbar-item
          a.navbar-link(href='/productsGender/1') Men
        li.navbar-item
          a.navbar-link(href='/productsGender/2') Women
        li.navbar-item
          a.navbar-link(href='/productsGender/3') Unisex
      ul.nav-action-list
        li
          button.nav-action-btn
            ion-icon(name='search-outline' aria-hidden='true')
            span.nav-action-text Search
        li
          if user
            a.nav-action-btn(href='/me')
              img.nav__user-img(src=`/images/users/${user.image}` alt=`Photo of ${user.firstName}`)
              span.nav-action-text me
          else
            a.nav-action-btn(href='/signup')
              ion-icon(name='person-outline' aria-hidden='true')
              span.nav-action-text Register
        li
          if user
            button.nav-action-btn
              ion-icon(name='heart-outline' aria-hidden='true')
              span.nav-action-text Wishlist
              data.nav-action-badge(value='5' aria-hidden='true') 5
        li
          if user
            button.nav-action-btn
              ion-icon(name='bag-outline' aria-hidden='true')
              data.nav-action-text(value='318.00')
                | Basket: 
                strong $318.00
              data.nav-action-badge(value='4' aria-hidden='true') 7