doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Footcap - Find your footware
    //
      - favicon
    link(rel='shortcut icon' href='./favicon.svg' type='image/svg+xml')
    //
      - custom css link
    link(rel='stylesheet' href='/css/style.css')
    //
      - google font link
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
    //
      - preload banner
    link(rel='preload' href='/images/hero-banner.png' as='image')
  body#top
    //
      - #HEADER
    header.header(data-header='')
      .container
        .overlay(data-overlay='')
        a.logo(href='#')
          img(src='/images/logo.svg' width='160' height='50' alt='Footcap logo')
        button.nav-open-btn(data-nav-open-btn='' aria-label='Open Menu')
          ion-icon(name='menu-outline')
        nav.navbar(data-navbar='')
          button.nav-close-btn(data-nav-close-btn='' aria-label='Close Menu')
            ion-icon(name='close-outline')
          a.logo(href='#')
            img(src='/images/logo.svg' width='190' height='50' alt='Footcap logo')
          ul.navbar-list
            li.navbar-item
              a.navbar-link(href='#') Home
            li.navbar-item
              a.navbar-link(href='#') About
            li.navbar-item
              a.navbar-link(href='#') Products
            li.navbar-item
              a.navbar-link(href='#') Shop
            li.navbar-item
              a.navbar-link(href='#') Blog
            li.navbar-item
              a.navbar-link(href='#') Contact
          ul.nav-action-list
            li
              button.nav-action-btn
                ion-icon(name='search-outline' aria-hidden='true')
                span.nav-action-text Search
            li
              a.nav-action-btn(href='#')
                ion-icon(name='person-outline' aria-hidden='true')
                span.nav-action-text Login / Register
            li
              button.nav-action-btn
                ion-icon(name='heart-outline' aria-hidden='true')
                span.nav-action-text Wishlist
                data.nav-action-badge(value='5' aria-hidden='true') 5
            li
              button.nav-action-btn
                ion-icon(name='bag-outline' aria-hidden='true')
                data.nav-action-text(value='318.00')
                  | Basket: 
                  strong $318.00
                data.nav-action-badge(value='4' aria-hidden='true') 4
    main
      article
        //
          - #HERO
        section.section.hero(style="background-image: url('/images/hero-banner.png')")
          .container
            h2.h1.hero-title
              | New Summer 
              strong Shoes Collection
            p.hero-text
              | Competently expedite alternative benefits whereas leading-edge
              | catalysts for change. Globally leverage existing an expanded array
              | of leadership.
            button.btn.btn-primary
              span Shop Now
              ion-icon(name='arrow-forward-outline' aria-hidden='true')
        //
          - #COLLECTION
        section.section.collection
          .container
            ul.collection-list.has-scrollbar
              li
                .collection-card(style="background-image: url('/images/collection-1.jpg')")
                  h3.h4.card-title Men Collections
                  a.btn.btn-secondary(href='#')
                    span Explore All
                    ion-icon(name='arrow-forward-outline' aria-hidden='true')
              li
                .collection-card(style="background-image: url('/images/collection-2.jpg')")
                  h3.h4.card-title Women Collections
                  a.btn.btn-secondary(href='#')
                    span Explore All
                    ion-icon(name='arrow-forward-outline' aria-hidden='true')
              li
                .collection-card(style="background-image: url('/images/collection-3.jpg')")
                  h3.h4.card-title Sports Collections
                  a.btn.btn-secondary(href='#')
                    span Explore All
                    ion-icon(name='arrow-forward-outline' aria-hidden='true')
        //
          - #PRODUCT
        section.section.product
          .container
            h2.h2.section-title Bestsellers Products
            ul.filter-list
              li
                button.filter-btn.active All
              li
                button.filter-btn Nike
              li
                button.filter-btn Adidas
              li
                button.filter-btn Puma
              li
                button.filter-btn Bata
              li
                button.filter-btn Apex
            ul.product-list
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-1.jpg' width='312' height='350' loading='lazy' alt='Running Sneaker Shoes')
                    .card-badge New
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Women
                    h3.h3.card-title
                      a(href='#') Running Sneaker Shoes
                    data.card-price(value='180.85') $180.85
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-2.jpg' width='312' height='350' loading='lazy' alt='Leather Mens Slipper')
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Sports
                    h3.h3.card-title
                      a(href='#') Leather Mens Slipper
                    data.card-price(value='190.85') $190.85
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-3.jpg' width='312' height='350' loading='lazy' alt='Simple Fabric Shoe')
                    .card-badge New
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Women
                    h3.h3.card-title
                      a(href='#') Simple Fabric Shoe
                    data.card-price(value='160.85') $160.85
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-4.jpg' width='312' height='350' loading='lazy' alt='Air Jordan 7 Retro ')
                    .card-badge -25%
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Sports
                    h3.h3.card-title
                      a(href='#') Air Jordan 7 Retro 
                    data.card-price(value='170.85')
                      | $170.85 
                      del $200.21
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-5.jpg' width='312' height='350' loading='lazy' alt='Nike Air Max 270 SE')
                    .card-badge New
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Women
                    h3.h3.card-title
                      a(href='#') Nike Air Max 270 SE
                    data.card-price(value='120.85') $120.85
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-6.jpg' width='312' height='350' loading='lazy' alt='Adidas Sneakers Shoes')
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Women
                    h3.h3.card-title
                      a(href='#') Adidas Sneakers Shoes
                    data.card-price(value='100.85') $100.85
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-7.jpg' width='312' height='350' loading='lazy' alt='Nike Basketball shoes')
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Sports
                    h3.h3.card-title
                      a(href='#') Nike Basketball shoes
                    data.card-price(value='120.85') $120.85
              li.product-item
                .product-card(tabindex='0')
                  figure.card-banner
                    img.image-contain(src='/images/product-8.jpg' width='312' height='350' loading='lazy' alt='Simple Fabric Shoe')
                    ul.card-action-list
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-1')
                          ion-icon(name='cart-outline')
                        #card-label-1.card-action-tooltip
                          | Add to Cart
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-2')
                          ion-icon(name='heart-outline')
                        #card-label-2.card-action-tooltip
                          | Add to Whishlist
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-3')
                          ion-icon(name='eye-outline')
                        #card-label-3.card-action-tooltip
                          | Quick View
                      li.card-action-item
                        button.card-action-btn(aria-labelledby='card-label-4')
                          ion-icon(name='repeat-outline')
                        #card-label-4.card-action-tooltip
                          | Compare
                  .card-content
                    .card-cat
                      a.card-cat-link(href='#') Men
                      |  /
                      a.card-cat-link(href='#') Women
                    h3.h3.card-title
                      a(href='#') Simple Fabric Shoe
                    data.card-price(value='100.85') $100.85
        //
          - #CTA
        section.section.cta
          .container
            ul.cta-list
              li
                .cta-card(style="background-image: url('/images/cta-1.jpg')")
                  p.card-subtitle Adidas Shoes
                  h3.h2.card-title The Summer Sale Off 50%
                  a.btn.btn-link(href='#')
                    span Shop Now
                    ion-icon(name='arrow-forward-outline' aria-hidden='true')
              li
                .cta-card(style="background-image: url('/images/cta-2.jpg')")
                  p.card-subtitle Nike Shoes
                  h3.h2.card-title Makes Yourself Keep Sporty
                  a.btn.btn-link(href='#')
                    span Shop Now
                    ion-icon(name='arrow-forward-outline' aria-hidden='true')
        //
          - #SPECIAL
        section.section.special
          .container
            .special-banner(style="background-image: url('/images/special-banner.jpg')")
              h2.h3.banner-title New Trend Edition
              a.btn.btn-link(href='#')
                span Explore All
                ion-icon(name='arrow-forward-outline' aria-hidden='true')
            .special-product
              h2.h2.section-title
                span.text Nike Special
                span.line
              ul.has-scrollbar
                li.product-item
                  .product-card(tabindex='0')
                    figure.card-banner
                      img.image-contain(src='/images/product-1.jpg' width='312' height='350' loading='lazy' alt='Running Sneaker Shoes')
                      .card-badge New
                      ul.card-action-list
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-1')
                            ion-icon(name='cart-outline')
                          #card-label-1.card-action-tooltip
                            | Add to Cart
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-2')
                            ion-icon(name='heart-outline')
                          #card-label-2.card-action-tooltip
                            | Add to Whishlist
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-3')
                            ion-icon(name='eye-outline')
                          #card-label-3.card-action-tooltip
                            | Quick View
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-4')
                            ion-icon(name='repeat-outline')
                          #card-label-4.card-action-tooltip
                            | Compare
                    .card-content
                      .card-cat
                        a.card-cat-link(href='#') Men
                        |  /
                        a.card-cat-link(href='#') Women
                      h3.h3.card-title
                        a(href='#') Running Sneaker Shoes
                      data.card-price(value='180.85') $180.85
                li.product-item
                  .product-card(tabindex='0')
                    figure.card-banner
                      img.image-contain(src='/images/product-2.jpg' width='312' height='350' loading='lazy' alt='Leather Mens Slipper')
                      ul.card-action-list
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-1')
                            ion-icon(name='cart-outline')
                          #card-label-1.card-action-tooltip
                            | Add to Cart
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-2')
                            ion-icon(name='heart-outline')
                          #card-label-2.card-action-tooltip
                            | Add to Whishlist
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-3')
                            ion-icon(name='eye-outline')
                          #card-label-3.card-action-tooltip
                            | Quick View
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-4')
                            ion-icon(name='repeat-outline')
                          #card-label-4.card-action-tooltip
                            | Compare
                    .card-content
                      .card-cat
                        a.card-cat-link(href='#') Men
                        |  /
                        a.card-cat-link(href='#') Sports
                      h3.h3.card-title
                        a(href='#') Leather Mens Slipper
                      data.card-price(value='190.85') $190.85
                li.product-item
                  .product-card(tabindex='0')
                    figure.card-banner
                      img.image-contain(src='/images/product-3.jpg' width='312' height='350' loading='lazy' alt='Simple Fabric Shoe')
                      .card-badge New
                      ul.card-action-list
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-1')
                            ion-icon(name='cart-outline')
                          #card-label-1.card-action-tooltip
                            | Add to Cart
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-2')
                            ion-icon(name='heart-outline')
                          #card-label-2.card-action-tooltip
                            | Add to Whishlist
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-3')
                            ion-icon(name='eye-outline')
                          #card-label-3.card-action-tooltip
                            | Quick View
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-4')
                            ion-icon(name='repeat-outline')
                          #card-label-4.card-action-tooltip
                            | Compare
                    .card-content
                      .card-cat
                        a.card-cat-link(href='#') Men
                        |  /
                        a.card-cat-link(href='#') Women
                      h3.h3.card-title
                        a(href='#') Simple Fabric Shoe
                      data.card-price(value='160.85') $160.85
                li.product-item
                  .product-card(tabindex='0')
                    figure.card-banner
                      img.image-contain(src='/images/product-4.jpg' width='312' height='350' loading='lazy' alt='Air Jordan 7 Retro ')
                      .card-badge -25%
                      ul.card-action-list
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-1')
                            ion-icon(name='cart-outline')
                          #card-label-1.card-action-tooltip
                            | Add to Cart
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-2')
                            ion-icon(name='heart-outline')
                          #card-label-2.card-action-tooltip
                            | Add to Whishlist
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-3')
                            ion-icon(name='eye-outline')
                          #card-label-3.card-action-tooltip
                            | Quick View
                        li.card-action-item
                          button.card-action-btn(aria-labelledby='card-label-4')
                            ion-icon(name='repeat-outline')
                          #card-label-4.card-action-tooltip
                            | Compare
                    .card-content
                      .card-cat
                        a.card-cat-link(href='#') Men
                        |  /
                        a.card-cat-link(href='#') Sports
                      h3.h3.card-title
                        a(href='#') Air Jordan 7 Retro 
                      data.card-price(value='170.85')
                        | $170.85 
                        del $200.21
        //
          - #SERVICE
        section.section.service
          .container
            ul.service-list
              li.service-item
                .service-card
                  .card-icon
                    img(src='/images/service-1.png' width='53' height='28' loading='lazy' alt='Service icon')
                  div
                    h3.h4.card-title Free Shiping
                    p.card-text
                      | All orders over 
                      span $150
              li.service-item
                .service-card
                  .card-icon
                    img(src='/images/service-2.png' width='43' height='35' loading='lazy' alt='Service icon')
                  div
                    h3.h4.card-title Quick Payment
                    p.card-text 100% secure payment
              li.service-item
                .service-card
                  .card-icon
                    img(src='/images/service-3.png' width='40' height='40' loading='lazy' alt='Service icon')
                  div
                    h3.h4.card-title Free Returns
                    p.card-text Money back in 30 days
              li.service-item
                .service-card
                  .card-icon
                    img(src='/images/service-4.png' width='40' height='40' loading='lazy' alt='Service icon')
                  div
                    h3.h4.card-title 24/7 Support
                    p.card-text Get Quick Support
        //
          - #INSTA POST
        section.section.insta-post
          ul.insta-post-list.has-scrollbar
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-1.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-2.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-3.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-4.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-5.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-6.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-7.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
            li.insta-post-item
              img.insta-post-banner.image-contain(src='/images/insta-8.jpg' width='100' height='100' loading='lazy' alt='Instagram post')
              a.insta-post-link(href='#')
                ion-icon(name='logo-instagram')
    //
      - #FOOTER
    footer.footer
      .footer-top.section
        .container
          .footer-brand
            a.logo(href='#')
              img(src='/images/logo.svg' width='160' height='50' alt='Footcap logo')
            ul.social-list
              li
                a.social-link(href='#')
                  ion-icon(name='logo-facebook')
              li
                a.social-link(href='#')
                  ion-icon(name='logo-twitter')
              li
                a.social-link(href='#')
                  ion-icon(name='logo-pinterest')
              li
                a.social-link(href='#')
                  ion-icon(name='logo-linkedin')
          .footer-link-box
            ul.footer-list
              li
                p.footer-list-title Contact Us
              li
                address.footer-link
                  ion-icon(name='location')
                  span.footer-link-text
                    | 2751 S Parker Rd, Aurora, CO 80014, United States
              li
                a.footer-link(href='tel:+557343673257')
                  ion-icon(name='call')
                  span.footer-link-text +557343673257
              li
                a.footer-link(href='mailto:footcap@help.com')
                  ion-icon(name='mail')
                  span.footer-link-text footcap@help.com
            ul.footer-list
              li
                p.footer-list-title My Account
              li
                a.footer-link(href='#')
                  ion-icon(name='chevron-forward-outline')
                  span.footer-link-text My Account
              li
                a.footer-link(href='#')
                  ion-icon(name='chevron-forward-outline')
                  span.footer-link-text View Cart
              li
                a.footer-link(href='#')
                  ion-icon(name='chevron-forward-outline')
                  span.footer-link-text Wishlist
              li
                a.footer-link(href='#')
                  ion-icon(name='chevron-forward-outline')
                  span.footer-link-text Compare
              li
                a.footer-link(href='#')
                  ion-icon(name='chevron-forward-outline')
                  span.footer-link-text New Products
            .footer-list
              p.footer-list-title Opening Time
              table.footer-table
                tbody
                  tr.table-row
                    th.table-head(scope='row') Mon - Tue:
                    td.table-data 8AM - 10PM
                  tr.table-row
                    th.table-head(scope='row') Wed:
                    td.table-data 8AM - 7PM
                  tr.table-row
                    th.table-head(scope='row') Fri:
                    td.table-data 7AM - 12PM
                  tr.table-row
                    th.table-head(scope='row') Sat:
                    td.table-data 9AM - 8PM
                  tr.table-row
                    th.table-head(scope='row') Sun:
                    td.table-data Closed
            .footer-list
              p.footer-list-title Newsletter
              p.newsletter-text
                | Authoritatively morph 24/7 potentialities with error-free
                | partnerships.
              form.newsletter-form(action='')
                input.newsletter-input(type='email' name='email' required='' placeholder='Email Address')
                button.btn.btn-primary(type='submit') Subscribe
      .footer-bottom
        .container
          p.copyright
            | © 2022 
            a.copyright-link(href='#') codewithsadee
            | .
            |             All Rights Reserved
    //
      - #GO TO TOP
    a.go-top-btn(href='#top' data-go-top='')
      ion-icon(name='arrow-up-outline')
    //
      - custom js link
    script(src='/js/script.js')
    //
      - ionicon link
    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
