extends base

block content
  link(rel='stylesheet' href='/css/signup.css')
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Login to your account
      form.form.form--login
        .form__group
          label.form__label(for='email') Email
          input#email.form__input(type='email', placeholder='example@gmail.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Login

  script(src='/js/signup.js')