extends base

mixin navItem(link, text, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`) 
      svg
      | #{text}

block content
  link(rel='stylesheet' href='/css/account.css')
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me','Settings', )
          +navItem('/myOrder','My Orders', true)
          +navItem('/myBasket','My Basket')
          +navItem('/myFavoriteProduct','My favorite products')
          //- +navItem('/','Logout')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/','Manage products')
              +navItem('/','Manage users')
              +navItem('/','Manage baskets')
              +navItem('/','Manage orders')
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Orders

        .line &nbsp;
        ul.product-list
          if !products
              .empty-page.empty-page__Favproduct.container-fluid
                h3 You haven't ordered any products.
                br
                img(src='/images/undraw_no_data.svg', alt='notavailable')
          else
  script(src='/js/account.js')