extends base

block content
  link(rel='stylesheet' href='/css/signup.css')
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Signup in our website
      form#signup.form.form--signup
        .form__group
          label.form__label(for='firstName') first name
          input#firstName.form__input(type='text', placeholder='alex', required)
        .form__group
          label.form__label(for='lastName') last name
          input#lastName.form__input(type='text', placeholder='kross', required)
        .form__group
          label.form__label(for='email') email
          input#email.form__input(type='email', placeholder='example@gmail.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') re-enter password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button#submitStep1.btn.btn--green signup
      a(href='/login').heading-secondary.ma-bt-lg Already have an account?
  script(src='/js/signup.js')